<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Metagento_Core::menu" title="Metagento Extensions" sortOrder="50"/>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Metagento_Core::notification" title="Metagento Notification" sortOrder="10"/>
                            <resource id="Metagento_Core::extension" title="Metagento Extensions" sortOrder="10"/>
                            <resource id="Metagento_Core::development" title="Metagento Development" sortOrder="10"/>
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
