<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <metagento_notification>
            <general>
                <enabled>1</enabled>
                <notification_type>announcement,extension,promotion</notification_type>
            </general>
        </metagento_notification>
    </default>
</config>